$white: #FFF;

$blue-0: #E3F8FF;
$blue-1: #B3ECFF;
$blue-2: #81DEFD;
$blue-3: #5ED0FA;
$blue-4: #40C3F7;
$blue-5: #2BB0ED;
$blue-6: #1992D4;
$blue-7: #127FBF;
$blue-8: #0B69A3;
$blue-9: #035388;

$grey-0: #F5F7FA;
$grey-1: #E4E7EB;
$grey-2: #CBD2D9;
$grey-3: #9AA5B1;
$grey-4: #7B8794;
$grey-5: #616E7C;
$grey-6: #52606D;
$grey-7: #3E4C59;
$grey-8: #323F4B;
$grey-9: #1F2933;

$pink-0: #FFE3EC;
$pink-1: #FFB8D2;
$pink-2: #FF8CBA;
$pink-3: #F364A2;
$pink-4: #E8368F;
$pink-5: #DA127D;
$pink-6: #BC0A6F;
$pink-7: #A30664;
$pink-8: #870557;
$pink-9: #620042;

$red-0: #FFE3E3;
$red-1: #FFBDBD;
$red-2: #FF9B9B;
$red-3: #F86A6A;
$red-4: #EF4E4E;
$red-5: #E12D39;
$red-6: #CF1124;
$red-7: #AB091E;
$red-8: #8A041A;
$red-9: #610316;

$yellow-0: #FFFBEA;
$yellow-1: #FFF3C4;
$yellow-2: #FCE588;
$yellow-3: #FADB5F;
$yellow-4: #F7C948;
$yellow-5: #F0B429;
$yellow-6: #DE911D;
$yellow-7: #CB6E17;
$yellow-8: #B44D12;
$yellow-9: #8D2B0B;

$teal-0: #EFFCF6;
$teal-1: #C6F7E2;
$teal-2: #8EEDC7;
$teal-3: #65D6AD;
$teal-4: #3EBD93;
$teal-5: #27AB83;
$teal-6: #199473;
$teal-7: #147D64;
$teal-8: #0C6B58;
$teal-9: #014D40;

$linkedin-blue: #0077B5;

.grey-7 {
  color: $grey-7;
}
