@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@mixin h1 {
  font-size: 44px;
  line-height: 56px;
  font-weight: 800;
}

@mixin h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}

@mixin h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}

@mixin h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

@mixin font-large {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

@mixin font-regular {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500;
}

@mixin font-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@mixin font-micro {
  font-size: 10px;
  line-height: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  @include font-regular;
  color: $grey-1;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

a {
  color: $grey-1;

  &:hover {
    opacity: 0.6;
  }
}

blockquote {
  margin-left: 0;
  padding-left: $px32;

  border-left: $px8 solid $blue-8;

  @include h2;
  font-style: italic;
}
