<div class="about-the-course">
  <div class="about-the-course__container">
    <h2 class="about-the-course__headline">
      The course
    </h2>

    <div class="about-the-course__description">
      The Art of Content Marketing consists of 8 chapters and is laid out in a PDF course booklet. New content will be added frequently, for which customers will receive updated versions. The course illustrates the challenges of copywriting and ways to tackle them through case studies and exercises. By the end of the course, you will feel 100% confident in creating solid copy and content strategies.
    </div>
  </div>
</div>
