<div class="features-section">
  <div class="features-section__container">
    <div class="features-section__items">
      <div class="features-section__item">
        <h2 class="features-section__item-headline">
          Writing made easy
        </h2>

        <div class="features-section__item-description">
          This course is built on the idea that if you can speak, you can write. It aims to demystify this craft and make it effortless for everyone.
        </div>
      </div>

      <div class="features-section__item">
        <h2 class="features-section__item-headline">
          Result-driven approach
        </h2>

        <div class="features-section__item-description">
          In the 21st century, good content isn’t what sounds poetic, but what works. The Art of Content Marketing champions a result-driven approach focused on impacting the bottom line.
        </div>
      </div>
    </div>
  </div>
</div>
