<section class="meet-the-author">
  <div class="meet-the-author__container">
    <h2 class="meet-the-author__headline">
      Meet the author
    </h2>

    <div class="meet-the-author__description">
      Hi, I’m Sandra. I have 5+ years of experience establishing content marketing as a major growth channel for companies. I am currently leading the Paid Content Marketing team at Blinkist, an app that I saw grow to more than 13 million users. Over my career, I’ve figured out exactly how to get through to people–all of which will be shared in this course.
    </div>
  </div>
</section>
