<div class="what-will-you-learn">
  <div class="what-will-you-learn__container">
    <h2 class="what-will-you-learn__headline">
      What will you learn?
    </h2>

    <div class="what-will-you-learn__items">
      <div class="what-will-you-learn__item">
        <h3 class="what-will-you-learn__name">
          Adapting to modern consumers
        </h3>

        <div class="what-will-you-learn__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </div>
      </div>

      <div class="what-will-you-learn__item">
        <h3 class="what-will-you-learn__name">
          Crafting an inspiring story
        </h3>

        <div class="what-will-you-learn__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </div>
      </div>

      <div class="what-will-you-learn__item">
        <h3 class="what-will-you-learn__name">
          Applying sales strategies
        </h3>

        <div class="what-will-you-learn__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </div>
      </div>

      <div class="what-will-you-learn__item">
        <h3 class="what-will-you-learn__name">
          Setting up a content team
        </h3>

        <div class="what-will-you-learn__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </div>
      </div>

      <div class="what-will-you-learn__item">
        <h3 class="what-will-you-learn__name">
          Tailoring copy for different purposes
        </h3>

        <div class="what-will-you-learn__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </div>
      </div>

      <div class="what-will-you-learn__item">
        <h3 class="what-will-you-learn__name">
          Iterating to improve results
        </h3>

        <div class="what-will-you-learn__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </div>
      </div>
    </div>
  </div>
</div>
