.features-section {
  padding: $px32 0;

  &__container {
    @include container;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include breakpoint($md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $px24;
    }
  }

  &__item-headline {
    color: $grey-7;
  }

  &__item-description {
    color: $grey-5;
  }

  @include breakpoint($md) {
    padding: $px64 0;
  }
}
