<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <div class="home-page">
      <section class="home-page__hero-section">
        {%- include components/hero-section.html -%}
      </section>

      <section class="home-page__features-section">
        {%- include components/features-section.html -%}
      </section>

      <section class="home-page__meet-the-author">
        {%- include components/meet-the-author.html -%}
      </section>

      <div class="home-page__container">
      </div>
    </div>
  </body>
</html>
